@import "/src/assets/colors/webColors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", "Prompt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  background-color: $bgColor;
  color: $fakeDark;
}

#app {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $fakeDark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.section {
  margin-top: 9.6rem;
  margin-bottom: 3.6rem;
}

.big-header-text {
  font-weight: 700;
  font-size: 4.8em;
}

.header-text {
  font-weight: 600;
  font-size: 2.8em;
}

.common-text {
  font-weight: 400;
  font-size: 1.8em;
}

.remark-text {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 2.7rem;
}

.content-text {
  font-weight: 400;
  font-size: 1.6em;
}

.bold-content-text {
  font-weight: 500;
  font-size: 1.6em;
}

.thin-content-text {
  font-weight: 300;
  font-size: 1.6em;
}

.small-text {
  font-weight: 400;
  font-size: 1.4em;
}

.bold-small-text {
  font-weight: 500;
  font-size: 1.4em;
}

.smallest-text {
  font-weight: 400;
  font-size: 1.2em;
}

.bold-smallest-text {
  font-weight: 500;
  font-size: 1.2em;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--2-rows {
  grid-template-rows: 2fr 1fr;
}

.route-enter-from {
  opacity: 0;
}

.route-enter-active {
  transition: all 0.3s ease-in-out;
}

.route-leave-to {
  opacity: 0;
}

.route-leave-active {
  transition: 0.3s all ease-in-out;
}

.slide-enter-from {
  opacity: 0;
  transform: translateY(2rem) !important;
}

.slide-enter-active {
  transition: all 0.3s ease-in-out;
}

.slide-leave-to {
  opacity: 0;
}

.slide-leave-active {
  transition: 0.3s all ease-in-out;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.vuecal--disabled-button{
  .vuecal__arrow {
    display: none;
  }
  .vuecal__event {
    border-bottom: 1px solid $primaryViolet;
    border-top: 1px solid $primaryViolet;
    margin-bottom: 0 !important;
  }

}

.vuecal--violet-theme {
  font-size: 1.2rem;
  padding: 1rem;
  border-color: $primaryViolet !important;

  .vuecal__title button {
    font-weight: 500;
    font-size: 1.8rem;
    color: $darkViolet;
  }

  .vuecal__menu,
  .vuecal__cell-events-count {
    margin-top: 0.4rem;
    background-color: $yellow;
    font-size: 0.8rem;
    color: #fff;
  }
  .vuecal__event {
    background-color: $fadedViolet;
    padding: 1.2rem 1rem;
    line-height: 1.6rem;
    color: $darkViolet;
    font-weight: 500;
    margin-bottom: 0.6rem;
  }

  .vuecal__title-bar {
    background-color: transparent;
    color: $primaryViolet;
  }
}

.vuecal--date-picker:not(.vuecal--day-view) .vuecal__cell--current .vuecal__cell-content,
.vuecal--date-picker:not(.vuecal--day-view) .vuecal__cell--today .vuecal__cell-content {
  border-color: $primaryViolet !important;
}

.vuecal--date-picker:not(.vuecal--day-view) .vuecal__cell--selected .vuecal__cell-content {
  background-color: $primaryViolet !important;
}

@media (max-width: 90em) {
  html {
    font-size: 8px !important;
  }
}

@media (max-width: 50em) {
  html {
    font-size: 6px !important;
  }
}

@media (max-width: 33em) {
  html {
    font-size: 5px !important;
  }
}